*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,#C1B4EB, #CBE6FD);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 83.33vw;
    margin: 3rem auto;
    border-radius: 10rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}
.flex-container {
    margin: 0 5rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: #747474;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
    margin-left: 2rem;
}

li a{
    text-decoration: none;
    color: #747474;
    font-size: 1rem;
}

section {
    width: 40vw;
    height: 30vw;
    margin: auto 0;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #747474;
    letter-spacing: .3rem;
}

input {
    width: 23vw;
    margin: .5rem;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
}
input:focus{
    outline-style: none;
}
footer {
    margin-top: 2rem;
}
footer a{
    font-size: 1.2em;
}
footer i{
    margin-left: 2rem;
    color: #747474;
}

footer a:hover{
    color: #979797;
}
footer i:hover {
    transform: scale(1.2);
}

h1 {
  font-size: 1.5em;
}